* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Sora;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
}

.container {
  width: 1170px;
}

.btn {
  height: 60px;
  border: none;
  border-radius: 30px;
  background: #2e80ce;
  color: #fff;
}

.desc {
  color: #575f66;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}

.header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #10375c;
}
.header .container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}
.header .header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__top .header__logo {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header .header__top .header__logo .logo__name {
  width: 50px;
  color: #fff;
  text-align: right;
  font-size: 1.2rem;
  line-height: 14px;
}
.header .header__top .header__logo .logo__name::first-line {
  font-size: 1.8rem;
  font-weight: 400;
}
.header .header__top .header__nav {
  display: flex;
  gap: 42px;
}
.header .header__top .header__nav .header__link {
  color: #c9d2da;
  font-weight: 300;
}
.header .header__top .header__nav .active-link {
  color: #fff;
  font-weight: 400;
  position: relative;
}
.header .header__top .header__nav .active-link::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: -14px;
  top: 50%;
  transform: translateY(-50%);
}
.header .header__top .header__group-btn {
  display: flex;
}
.header .header__top .header__group-btn .header__btn {
  width: 104px;
  height: 44px;
  border-radius: 22px;
  background-color: transparent;
}
.header .header__top .header__group-btn .active-btn {
  border-radius: 22px;
  background: #2e80ce;
  color: #fff;
}
.header .hero {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .hero__title {
  width: 517px;
  color: #fff;
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -1.4px;
}
.header .hero__desc {
  margin-top: 22px;
  white-space: pre-line;
  color: #c9d2da;
  font-family: Sora;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
}
.header .hero__contact {
  margin-top: 38px;
  display: flex;
  gap: 38px;
  align-items: center;
}
.header .hero__contact > a {
  color: #fff;
  text-align: center;
  font-family: Sora;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.header .hero__book-btn {
  width: 205px;
  color: #fff;
  text-align: center;
  font-family: Sora;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.header .hero__right {
  display: flex;
  align-items: center;
}
.header .hero__right .hero__img {
  width: 330px;
  height: 540px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
.header .hero__right .img-02 {
  width: 210px;
  height: 410px;
}/*# sourceMappingURL=styles.css.map */