:root {
  --bg-color: #10375c;
  --active-bg-color: #2e80ce;
  --active-font-color: #fff;
  --none-active-font-color: #c9d2da;
  --desc-font-color: #575f66;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Sora;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3rem;
  overflow: overlay;
}

.container {
  width: 1170px;
}

a {
  text-decoration: none;
}

.btn {
  width: 205px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}

.desc {
  color: var(--desc-font-color);
  line-height: 2.8rem;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 6px;
}
.logo .logo__name {
  width: 50px;
  color: #fff;
  text-align: right;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.logo .logo__name::first-line {
  font-size: 1.8rem;
  font-weight: 400;
}

.heading--lv2 {
  color: var(--bg-color);
  font-size: 5rem;
  font-weight: 600;
  line-height: 6rem;
  letter-spacing: -0.1rem;
}

/* TODO: Header */
.header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: var(--bg-color);
}
.header .container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

/* Top of Header */
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  display: flex;
  gap: 42px;
}
.header__link {
  color: var(--none-active-font-color);
}
.header__nav .active-link {
  color: var(--active-font-color);
  font-weight: 400;
  position: relative;
}
.header__nav .active-link::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--active-font-color);
  position: absolute;
  left: -14px;
  top: 50%;
  transform: translateY(-50%);
}
.header__group-btn {
  display: flex;
}
.header__btn {
  width: 104px;
  height: 44px;
  border-radius: 22px;
  background-color: transparent;
  color: var(--none-active-font-color);
  font-weight: 300;
}
.header__group-btn .active-btn {
  background: var(--active-bg-color);
  color: var(--active-font-color);
  font-weight: 400;
}

/* Hero of Header */
.hero {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__title {
  width: 517px;
  color: var(--active-font-color);
  font-size: 7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 8rem;
  letter-spacing: -0.14rem;
}
.header .container .hero .hero__left .hero__desc {
  margin-top: 22px;
  width: 468px;
  color: var(--none-active-font-color);
  font-size: 1.8rem;
}
.header .container .hero .hero__left .hero__contact {
  margin-top: 38px;
  display: flex;
  gap: 38px;
  align-items: center;
}
.header .container .hero .hero__left .hero__contact .hero__book-btn {
  color: var(--active-font-color);
  width: 205px;
  font-size: 1.8rem;
  font-weight: 400;
}
.header .container .hero .hero__left .hero__contact > a {
  color: var(--active-font-color);
  font-size: 1.8rem;
  font-weight: 400;
}

.header .container .hero .hero__right {
  width: 540px;
  height: 540px;
  display: flex;
  align-items: center;
  /* background-color: red; */
  position: relative;
}

@keyframes imageHero {
  0% {
    width: 210px;
    height: 410px;
    right: 0;
  }
  100% {
    width: 330px;
    height: 540px;
    right: 210px;
  }
}
@keyframes imageHero2 {
  0% {
    width: 330px;
    height: 540px;
    left: 0;
  }
  100% {
    width: 210px;
    height: 410px;
    left: 330px;
  }
}
.hero .hero__right .hero__img {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 6px;
}
.hero .img-01 {
  width: 330px;
  height: 540px;
  position: absolute;
  animation-name: imageHero2;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.header .container .hero .hero__right .img-02 {
  width: 210px;
  height: 410px;
  position: absolute;
  right: 0;
  animation-name: imageHero;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* TODO: Main content */
.main {
  margin: 170px 0;
  display: flex;
  flex-direction: column;
  gap: 170px;
}

.services {
  display: flex;
  justify-content: center;
}
.services .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.services .container .services__title {
  text-align: center;
}
.services .container .services__desc {
  width: 468px;
  text-align: center;
  font-size: 1.8rem;
}
.services .container .services__illustration {
  margin-top: 52px;
  display: flex;
  gap: 130px;
  align-items: center;
}
.services .container .services__illustration .left {
  display: flex;
}
.services .container .services__illustration .left .services__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0 0;
  object-position: 0 0;
}
.services .container .services__illustration .right {
  width: 470px;
}
.services
  .container
  .services__illustration
  .right
  .services__list
  .services__item {
  display: flex;
  padding: 21px 0 20px 22px;
  border-radius: 10px;
  background: #fff;
}
.services
  .container
  .services__illustration
  .right
  .services__list
  .services__item
  .left
  .item__icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #eff6fd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services
  .container
  .services__illustration
  .right
  .services__list
  .services__item
  .left
  .item__icon
  i {
  font-size: 3rem;
  color: var(--bg-color);
}
.services
  .container
  .services__illustration
  .right
  .services__list
  .services__item
  .right {
  margin-left: 19px;
}
.services
  .container
  .services__illustration
  .right
  .services__list
  .services__item
  .right
  .item__title {
  color: var(--bg-color);
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}
.services
  .container
  .services__illustration
  .right
  .services__list
  .services__item
  .right
  .item__desc {
  margin-top: 8px;
}
.services
  .container
  .services__illustration
  .right
  .services__list
  .services__item:hover {
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
.services
  .container
  .services__illustration
  .right
  .services__list
  .services__item:hover
  .item__icon {
  background-color: var(--active-bg-color);
}
.services
  .container
  .services__illustration
  .right
  .services__list
  .services__item:hover
  .item__icon
  i {
  color: var(--active-font-color);
}
.services .container .services__illustration .right .services__btn {
  margin-top: 55px;
  color: var(--active-font-color);
  border-radius: 30px;
  font-size: 1.8rem;
  font-weight: 400;
}

.procedure {
  background-color: #f6fbff;
  display: flex;
  justify-content: center;
}
.procedure .container {
  margin: 100px 0;
}
.procedure .container .procedure__desc {
  width: 468px;
  margin-top: 18px;
  font-size: 1.8rem;
}
.procedure .container .procedure__list {
  display: flex;
  gap: 30px;
}
.procedure .container .procedure__list .procedure__item {
  margin-top: 70px;
  border: #eaf6ff solid 16px;
  padding: 43px 42px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  transition: border-color 1s ease, color 1s ease, transform 1s ease;
}
.procedure .container .procedure__list .procedure__item .item__icon {
  display: flex;
}
.procedure .container .procedure__list .procedure__item .item__title {
  color: #10375c;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.procedure .container .procedure__list .procedure__item .item__desc {
  margin-top: 10px;
}
.procedure .container .procedure__list .procedure__item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
}
.procedure .container .procedure__list .procedure__item:hover .item__link {
  color: #2e80ce;
}

.commercial {
  display: flex;
  justify-content: center;
}
.commercial .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.commercial .container .commercial__album {
  width: 570px;
  height: 491px;
  position: relative;
}
.commercial .container .commercial__album .commercial__img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 6px;
}
.commercial .container .commercial__album .img-1 {
  width: 512px;
  height: 370px;
  -o-object-position: 0 center;
  object-position: 0 center;
  top: 0;
  left: 0;
}
.commercial .container .commercial__album .img-2 {
  width: 332px;
  height: 370px;
  -o-object-position: 0 center;
  object-position: 0 center;
  bottom: 0;
  right: 0;
}
.commercial .container .commercial__content {
  width: 470px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.commercial .container .commercial__content .commercial__desc {
  font-size: 1.8rem;
  line-height: 3rem;
}
.commercial .container .commercial__content .commercial__btn {
  margin-top: 20px;
}

/* ----------------------------------------------------------------------- */

/* TODO: Dentists */
.dentists {
  display: flex;
  justify-content: center;
}

.dentists .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 38px;
}

.dentists__heading {
}

.dentists__meet-btn {
}

.dentists__list {
  margin-top: 32px;
  display: flex;
  gap: 30px;
}
.dentist__wrap-avatar {
  background-color: #eaf6ff;
  width: 270px;
  height: 318px;
  border-radius: 6px;
  position: relative;
}
.dentist__avatar {
  width: 100%;
  height: 290px;
  position: absolute;
  bottom: 0;
  -o-object-fit: cover;
  object-fit: cover;
}
.dentists__list .dentists__item .avatar-1 {
  width: 130%;
  -o-object-position: -50px center;
  object-position: -50px center;
}
.dentists__list .dentists__item .avatar-2 {
  width: 165%;
  -o-object-position: -90px center;
  object-position: -90px center;
}
.dentists__list .dentists__item .avatar-3 {
  width: 180%;
  -o-object-position: -125px center;
  object-position: -125px center;
}
.dentists__list .dentists__item .avatar-4 {
  -o-object-position: -50px center;
  object-position: -50px center;
}
.dentists__list .dentists__item .dentist__name {
  margin-top: 12px;
  color: var(--bg-color);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
}
.dentists__list .dentists__item .dentist__address {
  text-align: center;
  font-size: 1.4rem;
  line-height: 26px;
}

.dentists__group-btn {
  display: flex;
  gap: 18px;
}
.dentists__group-btn button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid var(--desc-font-color);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dentists__group-btn .material-symbols-outlined {
  font-size: 18px;
  font-weight: 100;
  color: var(--desc-font-color);
}
.dentists__group-btn button:hover {
  border: none;
  background-color: var(--active-bg-color);
}
.dentists__group-btn button:hover .material-symbols-outlined {
  color: var(--active-font-color);
}

/* ----------------------------------------------------------------------- */

/* TODO: Install */
.install {
  display: flex;
  justify-content: center;
}
.install .container {
  position: relative;
}
.install .container .install__wrap-img {
  position: absolute;
  bottom: 0;
  left: 70px;
  width: 284px;
  height: 522px;
}
.install .container .install__wrap-img .install__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.install .container .install__wrap-content {
  width: 100%;
  height: 427px;
  padding-right: 70px;
  background-color: var(--active-bg-color);
  border-radius: 4px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.install .container .install__wrap-content .install__content {
  width: 586px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.install .container .install__wrap-content .install__content .install__title {
  width: 489px;
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -1px;
}
.install .container .install__wrap-content .install__content .install__desc {
  color: #fff;
  font-size: 1.8rem;
}
.install .container .install__wrap-content .install__content .install__store {
  margin-top: 20px;
  display: flex;
  gap: 28px;
}
.install
  .container
  .install__wrap-content
  .install__content
  .install__store
  .store {
  width: 135px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: transparent;
}

/* ----------------------------------------------------------------------- */

.news {
  display: flex;
  justify-content: center;
}
.news .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news .container .left {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.news .container .left .news__heading {
  width: 470px;
  color: var(--bg-color);
  font-size: 5rem;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -1px;
}
.news .container .left .news__all-links {
  color: var(--bg-color);
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 28px;
  text-decoration-line: underline;
}
.news .container .right {
  display: flex;
  gap: 30px;
}
.news .container .right .news__new {
  width: 270px;
  border-radius: 12px;
  border: 1px solid #e8ebee;
  display: flex;
  flex-direction: column;
}
.news .container .right .news__new > *:not(.new__img) {
  margin: 0 22px;
}
.news .container .right .news__new .new__img {
  width: 100%;
  height: 172px;
  border-radius: 12px 12px 0 0;
}
.news .container .right .news__new .new__title {
  margin-top: 18px;
  color: var(--bg-color);
  font-weight: 600;
  line-height: 26px;
}
.news .container .right .news__new .new__desc {
  margin-top: 10px;
  margin-bottom: 12px;
  color: var(--desc-font-color);
  font-size: 1.4rem;
  line-height: 24px;
}
.news .container .right .news__new .new__link {
  margin-bottom: 21px;
  color: var(--bg-color);
  font-size: 1.4rem;
  font-weight: 400;
}
.news .container .right .news__new:hover {
  border: none;
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}
.news .container .right .news__new:hover .new__link {
  color: var(--active-bg-color);
}

/* ----------------------------------------------------------------------- */

/* TODO: CTA */
.cta {
  display: flex;
  justify-content: center;
}
.cta .container {
  padding: 100px 0;
  background-color: #f6fbff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
}
.cta__heading {
  color: var(--bg-color);
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -1px;
  position: relative;
}
.cta__heading::after {
  content: "";
  width: 136px;
  height: 2px;
  background-color: var(--active-bg-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.cta__desc {
  width: 617px;
  color: var(--desc-font-color);
  text-align: center;
}

/* TODO: Footer */
.footer {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}

.footer .container {
  margin: 100px 0 42px 0;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.footer__main {
  display: flex;
  gap: 78px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.footer__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__desc {
  color: #a9b3bb;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 1.4rem;
}
.footer__heading {
  color: #fff;
  font-family: Open Sans;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.8rem;
}
.footer__link-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__link {
  color: #a9b3bb;
  font-family: Open Sans;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.6rem;
  white-space: nowrap;
}

/* column number 4 */
.footer__social-list {
  display: flex;
  gap: 10px;
}
.footer__social-list .icon {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__social-list .icon:hover path {
  fill: #fff;
}
.footer__social-list .icon:hover {
  background-color: #2e80ce;
}
.footer__sub-form {
  display: flex;
  gap: 12px;
}
.footer__input-form {
  padding: 10px;
  height: 46px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #406181;
  color: #9ca8b1;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.footer__sub-btn {
  width: 108px;
  height: 46px;
  border-radius: 4px;
  color: #fff;
  font-family: Open Sans;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

/* A Line of Footer */
.footer__line {
  height: 1px;
  background-color: #406181;
}

/* Copyright of Footer */
.footer__copy-right {
  color: #aab3ba;
  text-align: center;
  font-family: Open Sans;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.6rem;
}
